body>header{
    background: #FFF;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.06);
}
footer{
    background: #FFF;
    box-shadow: 0px -4px 10px 0px rgba(0, 0, 0, 0.06);
}
.create-new-client{
    background-color: #007CCA;
    border-radius: 10px;
    border: 2px solid #007CCA;
}
.create-new-car{
    background: transparent;
    border-radius: 10px;
    border: 2px solid #007CCA;
}
button.button-search{
    background-color: #007CCA;
    border-radius: 10px;
}
.client-box{
    border: 2px solid #FF9800;
}
.search-box{
    border-color: #007CCA;
}
.fa-search{
    color:#007CCA;
}
.heading-client, .heading-phone{
    color: #007CCA;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
#carSelect{
    border-color: #007CCA;
}
#carSelect {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;       /* Remove default arrow */
    background-image: url("/images/arrow.png");   /* Add custom arrow */
    background-repeat: no-repeat;
    background-size: 15px;
    background-position: 95% 50%;
 }
.separator,.separator-single-client {
    position: relative;
  }
  
  .separator::before,
  .separator::after,
  .separator-single-client::before,
  .separator-single-client::after {
    content: '';
    position: absolute;
    width: 10px; /* Adjust the width of the dots as needed */
    height: 10px; /* Adjust the height of the dots as needed */
    background-color: #FF9800; /* Use the desired color for the dots */
    border-radius: 50%; /* Create circular dots */
  }
  .separator-single-client::before{
    left: 0;
    top: 50%;
    transform: translate(0, -50%);
  }
  .separator-single-client::after{
    right: 0;
    top: 50%;
    transform: translate(0, -50%);
  }
  
  .separator::before {
    left: 0; /* Adjust the position of the left dot as needed */
    top: 50%;
    transform: translate(0, -50%);
  }
  
  .separator::after {
    right: 0; /* Adjust the position of the right dot as needed */
    /* top: 50%; */
    transform: translate(0, -50%);
  }
  .colored-bg{
    border-radius: 10px;
    background: rgba(0, 124, 202, 0.10);
  }
  /* .table-car-desc{
    padding:0 5px;
  } */
  .mobile-grid-repairs{
    margin-left:0px !important;
    border-radius: 10px;
  }

  /* Desktop Styles (dots on top and bottom) */
@media (min-width: 1024px) { /* Adjust the breakpoint as needed */
    .separator {
      display: block; /* Make sure the separator is displayed as a block element */
    }
  
    .separator::before {
      left: 50%; /* Position the left dot in the middle horizontally */
      top: -5px; /* Adjust the position of the top dot as needed */
      transform: translate(-40%, 0);
    }
  
    .separator::after {
      left: 50%; /* Position the right dot in the middle horizontally */
      bottom: -5px; /* Adjust the position of the bottom dot as needed */
      transform: translate(-40%, 0);
    }
    .separator-single-client {
      display: block; /* Make sure the separator is displayed as a block element */
    }
  
    .separator-single-client::before {
      left: 0%; /* Position the left dot in the middle horizontally */
      top: -5px; /* Adjust the position of the top dot as needed */
      transform: translate(-40%, 0);
    }
  
    .separator-single-client::after {
      right: 0%; /* Position the right dot in the middle horizontally */
      bottom: -5px; /* Adjust the position of the bottom dot as needed */
      /* transform: translate(-40%, 0); */
    }
  }
  